* body {padding: 0;
        margin: 0; 
        max-height: 2000px;}


#body1 {background-image: url(/Images/bolsa_NY.jpg);
        background-size: 100vw 100vh;

        }


.grid-container {display: grid;
                width: 90%;
                margin: auto;
                justify-content: center;
                grid-template-columns: 1fr 1fr 1fr;
                grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }


header {grid-column: 1/4;
        grid-row: 1/2;
        padding: 5px;
        background-color: white ;
        text-align: center;
        border-bottom: 2px solid black;
        color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        opacity: 0.9;
}

nav {grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    border-bottom: 2px solid black;
    align-items: center; 
    padding-top: 5px;
    padding-bottom: 5px;
    }

nav ul {display: flex;
        
        list-style: none;
        margin-top: auto;
        margin-bottom: auto;  
       
        }

nav ul a {margin: 5px;
          text-decoration: none;
          color: white;
         
           }

nav ul a:hover {background-color: yellow;}

nav img {
        margin-top: auto;
        margin-bottom: auto;
        }
        

#logo_t {margin-left: auto;}

       
#logo_f {margin-left: 0.5%;}

#logo_i {margin-left: 0.5%;}

#logo_y {margin-left: 0.5%;
        margin-right: 0.5%;}


article {grid-column: 1/3;
        grid-row: 3/5;}

aside { grid-column: 3/4;
        grid-row: 3/6;
        background-color: white;
        border-left: 2px solid black;
        text-align: center;
        
        }

        #text1_aside {color: red;
                      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                       margin-top: 20px;
                        } 

       

        .img_aside {width: 50%;
                        float: inherit;}

        .epig_aside {font-size: small;
                        color: black;
                                margin-left: 25px;
                                margin-right: 25px;
                        }
        .link_ep {text-decoration: none;}
        
        
        
        #publi1 {width: 70%;
                        display: flex;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 110%;}
        
        


#section1 {grid-row: 3/4;
          height: 1200px;
          background-color: white;
          padding: 10px;
         
          box-sizing: border-box;
            }

            #epigrafe1_sec1 {font-size: small;
                        margin-left: 20px;}
            #img_sec1 {width: 500px;
                        float: left;
                        padding-left: 20px;
                        padding-right: 20px;  }
            #epigrafe2_sec1 {font-size: small;
                         margin-left: 20px;}

            #pie1_sec1 {margin-left: 20px;}

            
    



#section2 {position: relative;
     /*   grid-row: 4/5;*/
                min-height: 400px;
            background-color: white;
            border-top: 2px solid black;
            box-sizing: border-box;
        }


footer {display: flex;
        grid-column: 1/4;
        grid-row: 5/6;
        background-color: rgb(162, 243, 243);
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
        }

@media screen and (max-width: 100px) {
                        nav { flex-direction: column;}
                                     }                       


.container {position: relative;
                background-color: aliceblue;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;   
        margin-bottom: 50px;     
        text-align: justify;
        padding: 10px;
        width: 1000px;
        height: 1500px;
        border: 2px solid white;
        border-radius: 4px;
                
   }

#b2_imagen1 {position: relative;
             width: 500px;
             height: 300px;
             margin-left: 25%;
             padding-bottom: 50px;}

#b2_imagen2 {position: relative;
        width: 500px;
        height: 300px;
        margin-left: 25%;
        padding-top: 50px;}

.home { color: blue;
        margin-top: 100px;
        margin-left: 20px;
        border: solid;
        padding: 5px;
        }

        
        
#div_form { width: 650px;
       margin-left: 500px;}

form {width: 650px;
      padding: 10px 30px;
      background-color: gray;
      border-radius: 10px;
      
      margin: auto;
        }

#h2_form {text-align: center;
          color: green;}

#div_form {margin: auto;
           width: 650px;
           text-align: justify;
           }


input, textarea {width: 100%; 
                height: 30px;
                margin-bottom: 10px;
                margin-top: 10px;
                box-sizing: border-box;}

textarea {min-height: 100px;
          max-height: 200px;
          min-width: 100%;      
          max-width: 100%;
          margin-top: -10px;
              }    

#boton {width: 200px;
        color: blue;
        border-color: blue;
        margin-left: 35%;
        border-radius: 4px;
        }
#boton:hover {cursor: pointer;}


#home {width: 100vw;
       position: fixed;
       top: 0;
       padding: 20px;
       background-color: rgb(162, 243, 243);
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
       font-size: large;
       z-index: 2;
       }

div a { text-decoration: none;}

#video_main {display: flex;
             height: 300px;
             min-width: 200px;
             margin-top: 5%;
             margin-left: 5%;   
            }
#video_s1 {display: flex;
           margin-left: 70%;
           margin-top: -42%;     
}

#video_s2 {display: flex;
        margin-left: 70%;
        margin-top: 2%;
} 

#video_s3 {display: flex;
           margin-left: 70%; 
        margin-top: 2%;    } 

#tabla_dolar {display: flex;
         max-width: 100px;
        font-size: smaller;
        margin-left: 20%;
                
}

tr td {border: 2px solid green;}
